@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body {
  /* 2. Box Model */
  margin: 0;
  padding: 0;
  /* 3. typography */
  font-family: 'Roboto Mono', monospace;
}
a {
  /* 3. typography */
  text-decoration: none;
  display: inline;
  /* 4. Design */
  color: black;
}
